name: CI & CD Pipeline

on:
  push:
    branches: [development, main]
  pull_request:
    branches: [main]

jobs:
  ci-check:
    runs-on: ubuntu-latest
    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}
      UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
      GOOGLE_MODEL: ${{ secrets.GOOGLE_MODEL}}
      GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      GOOGLE_MODEL_FALLBACK: ${{secrets.GOOGLE_MODEL_FALLBACK}}

    steps:
      - name: Skip on merge commit to development
        if: github.ref == 'refs/heads/development' && github.event.head_commit.parents[1] != null
        run: echo "Merge commit to development, skipping CI." && exit 0

      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.20.4

      - name: Install dependencies
        run: npm ci   # use ci instead of install for reproducibility

      - name: Type check
        run: npm run type-check

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm test

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright E2E tests
        run: npx playwright test --reporter=html

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/


  deploy-preview:
    if: github.ref == 'refs/heads/development' && github.event.head_commit.parents[1] == null
    needs: ci-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Vercel Preview
        run: npx vercel --token=${{ secrets.JOBPILOTTOKEN }} --confirm --name job-pilot

  deploy-production:
    if: github.ref == 'refs/heads/main'
    needs: ci-check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Vercel Production
        run: npx vercel --prod --token=${{ secrets.JOBPILOTTOKEN }} --confirm --name job-pilot
